<!--<app-diretiva-ng-if></app-diretiva-ng-if>-->
<!--<app-diretiva-ng-switch></app-diretiva-ng-switch>-->
<!--<app-diretiva-ng-for></app-diretiva-ng-for>-->
<!--<app-diretiva-ng-class></app-diretiva-ng-class>-->
<!--<app-diretiva-ng-style></app-diretiva-ng-style>-->
<!--<app-operador-elvis></app-operador-elvis>-->
<!--
<app-exemplo-ng-content>
    <div class="titulo">Título passado para o componente.</div>
    <div class="corpo">Conteúdo passado para o componente.</div>
    <div class="corpo">Conteúdo passado para o componente 2.</div>
</app-exemplo-ng-content>
-->
<app-diretivas-customizadas></app-diretivas-customizadas>